.outer
{
	margin-top:0%;
	height:0px auto;
	width:100%;
	border:0px solid red;
}



.header
{
	margin-top:0%;
	height:200px;
	width:100%;
	//border:0px solid green;
}

#image2
{
	height:200px;
	width:100%;
	
}